<div class = "container">
  <div id="news" class = "d-flex flex-column">
    <input class = "search" type="text" (click)="dropMenuToggle($event)">
    <ul *ngIf="dropMenu">
      <li *ngFor="let item of news" (click)="selectedDropMenu(item.id, $event)">{{ item.title }}</li>
    </ul>
  </div>
    <div *ngIf="!!selectedId">
      <h2>{{ selectedId.title }}</h2>
      <p>{{ selectedId.text }}</p>
    </div>
</div>
