<div *ngFor="let item of options; let i = index">
  <input type="radio" id="{{ item.label }}"
         name="contact" [value]="item.value" [checked]="item.checked" (change)="onChecked(item, i)">
  <label for="{{ item.label }}">{{ item.label }}</label>
</div>
