<form class = "form-authorization d-flex flex-column" [formGroup]="registrationForm" *ngIf="registrationForm">
  <div class = "d-flex">
    <label class = "list-group-item-dark"><input type="text" formControlName="login">Login*</label>
    <span *ngIf="registrationForm.get('login').touched && registrationForm.get('login').invalid">Required field</span>
  </div>
  <div class = "d-flex">
    <label class = "list-group-item-dark"><input type="text" formControlName="email">E-mail*</label>
    <span *ngIf="registrationForm.get('email').touched && this.registrationForm.get('email').value === ''">Required field</span>
    <span *ngIf="this.registrationForm.get('email').getError('email') && registrationForm.get('email').touched && this.registrationForm.get('email').value !== ''">Incorrect email</span>
    </div>
  <div class = "d-flex">
    <label class = "list-group-item-dark"><input type="text" formControlName="password">Password*</label>
    <span *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid">Required field</span>
    </div>
  <div class = "d-flex">
    <label class = "list-group-item-dark"><input type="text" formControlName = "password2">Again password*</label>
    <span *ngIf="registrationForm.get('password2').touched && registrationForm.get('password2').invalid">Required field
</span>
    </div>
  <button (click)="onCheck()">Register</button>
</form>
