:host {
  width: 100%;
}
.form-authorization{
  input {
    margin: 0 5px 0 0;
    padding:1%;
  }
  label, button {
    padding: 0 10px 0 0;
    width: 50%;
    max-width: 350px;
  }
  span {
    margin: 0 5px;
    color: red;
  }
  .ng-valid {
    border: 2px solid green;
  }
  .ng-touched.ng-invalid {
    border: 2px solid red;
  }
}

