<div class="container">
  <div>
    <h2>async get user</h2>
    {{ 4 | asyncGetUser }}
  </div>
  <div *ngIf="!!users">
    <div *ngFor="let item of users">
      <span>Username: {{ item.username }}</span>
      <span>E-mail: {{ item.email }}</span>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
