<div>
  <select name="" id="" (change)="checkedChange($event)">
    <option *ngFor='let item of options;' [value] = 'item.value' [selected] = 'item.checked'>
      {{ item.label }}
    </option>
  </select>
</div>
