<div class="container">
  <div class = "d-flex flex-row">
    <div *ngFor="let item of contacts; let i = index">
      <span class = "contacts" (click)="contactsClick(i)">{{ item.id }}<span class = "triangle" [ngClass]="{'triangleOpen': item.isOpen}"></span></span>
      <div class = "contacts-list" [ngClass]="{'contacts-list-open': item.isOpen}" *ngIf="item.isOpen">
        <ul *ngFor="let valueName of item.value">
          <li>{{ valueName }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
