:host {
  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  .contacts {
    display: flex;
    width: 150px;
    border: 1px solid;
    padding: 3px;
    margin: 4px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #fbffd5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .triangle {
    width: 0;
    height: 0;
    margin: 3px 0 0 3px;
    border: 0 solid transparent;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom: 8px solid black;
    transition-duration: 0.3s;
  }
  .triangleOpen {
    transform: rotateX(150deg);
  }
  .contacts-list-open {
    animation-name: contactsOpen;
    transition-duration: 2s;
  }
}
@keyframes contactsOpen {
  from {
    height: 0;
  }
  to {
    height: 100px;
  }
}
