:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .store-item {
    width: 25em;
    justify-content: space-between;
    @media screen and (max-width: 760px) {
      width: 40%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  .pagination {
    display: flex;
    margin: 15px;
    font-size: 25px;
    &.bottom-pagination{
      width: 75%;
      justify-content: center;
    }
  }
  img, .btn-buy {
    width: 100%;
    font-size: 25px;
  }
  .img-store {
    height: 65%;
  }
  span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    &.title {
      color: #0c5460;
      font-size: 25px;
    }
  }
  .store-info {
    display: flex;
    text-align: center;
    .plus-minus {
      font-size: 25px;
      background: #899cea;
    }
  }
  .count-buy, .price {
    width: 100%;
    font-size: 25px;
  }
  .count {
    height: 100px;
    justify-content: space-between;
  }
}
.store-info {
  font-size: 25px;
  align-items: stretch;
}
.item-store {
}
