<div class = "pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div class = "d-flex flex-wrap">
  <div class="store-item m-3 d-flex flex-column" *ngFor="let item of storesBackup| transformToArray | paginate: { itemsPerPage: 12, currentPage: p }; let i = index">
    <div class="item-store d-flex flex-column">
      <span class = "m-1 title">{{ item.title }}</span>
      <img class = "m-1 img-store" src="{{ item.url }}" alt="image">
    </div>
    <div class = "count d-flex flex-column">
      <span class = "price m-1">Price: {{ item.price }}</span>
      <input class="btn btn-primary btn-buy" *ngIf="!item?.count" type="button" value="buy" (click)="onClickBuy(item.id, $event)">
      <div *ngIf="item?.count" class="store-info">
        <span class = "plus-minus" (click)="reduce(item.id, $event)">-</span>
        <span class = "count-buy">{{ item.count }}</span>
        <span class = "plus-minus" (click)="increase(item.id, $event)">+</span>
      </div>
    </div>
  </div>
</div>
<div class = "pagination bottom-pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
