<div class="container">
  <div class = "main">
    <div class = "head-nav">
      <ul>
        <li>Title</li>
        <li>Price</li>
        <li>Count</li>
        <li>Total</li>
        <li></li>
      </ul>
    </div>
    <div class = "products">
      <div class = "product" *ngFor="let item of storeModel; let i = index">
        <div class = "title"><img src="{{ item.url }}" alt=""> {{ item.title }}</div>
        <div class = "price">{{ item.price }}</div>
        <div class = "block-plus-minus">
          <span class = "plus-minus" (click)="reduce(i, $event)">-</span>
          <span>{{ item.count }}</span>
          <span class = "plus-minus" (click)="increase(i, $event)">+</span>
        </div>
        <div class= "sum-items">{{ item.price * item.count }}</div>
        <div class = "remove-item" (click)="removeItem(i, $event)">x</div>
      </div>
      <div class = "bottom-products">
        <div class= "totalPrice">Total price: {{ totalPrice }}</div>
      </div>
    </div>
    <div class = "block-form-send-request">
      <form id = "form-delivery" class = "form form-send-request" [formGroup] = "deliveryFormGroup" (submit)="submit()">
        <label class = "list-group-item-dark"><input type="text" formControlName="name">Name*</label>
        <label class = "list-group-item-dark"><input type="text" formControlName="phone">Phone*</label>
        <label class = "list-group-item-dark"><input type="text" formControlName="location">Location*</label>
        <app-custom-select [setOptions] = "selectOptionsDate"></app-custom-select>
        <label class = "list-group-item-dark"  *ngIf="isCustomDate"><input type="date" formControlName="date">Custom date</label>
        <label class = "list-group-item-dark"  *ngIf="isCustomDate"><input type="text" formControlName="time">Time*</label>
      </form>
      <button form = "form-delivery">Submit</button>
    </div>
  </div>
</div>
