:host {
  width: 100%;
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.main {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  .products {
    background-color: #fff1e8;
    font-size: 35px;
  }
  .product {
    margin: 10px 0;
  }
  .head-nav>ul, .product {
    padding:0;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    align-items: center;
    li, div {
      width: 16.6%;
    }
    .title, li:first-child {
      width: 40%;
    }
    .title {
      text-align: left;
    }
    .remove-item, li:last-child {
      width: 10%;
    }
    img {
      width: 80px;
    }
  }
  .bottom-products {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    background-color: #fff;
    color: #1b1e21;
    padding: 0 10px 10px 0;
  }
  .form-send-request {
    display: flex;
    flex-direction: column;
  }
}
