<div id = "open-store-products" class = "container">
  <div class="top-purchases">
    <div class = "top-purchases-quantity">
      <span>Quantity of goods: {{ currentScore }}</span>
      <img src="./assets/shopping_cart.png" alt="shopping cart site" (click)="onClickShopIcon()">
    </div>
    <span class = "bottom-line"></span>
  </div>
  <div class = "wrap-purchases">
    <div class = "main-purchases" *ngIf="selectedProduct">
    <div class = "middle-purchases" *ngFor = "let i of selectedProduct; let ind = index">
      <span class = "title">{{ i.title }}</span>
      <span (click)="removeSelectedProduct(ind, $event)">x</span>
      <img src="{{ i.url }}" alt="">
      <span class="price">Price: <span class = "base-style">{{ i.price }}</span></span>
      <span class="quantity">Quantity: <span class = "base-style">{{ i.count }}</span></span>
      <div class = "block-plus-minus">
        <span class = "plus-minus" (click)="reduce(ind, $event)">-</span>
        <span class = "count-buy">{{ i.count }}</span>
        <span class = "plus-minus" (click)="increase(ind, $event)">+</span>
      </div>
    </div>
    <div class = "bottom-purchases">Total price: {{ totalPrice }}
      <a (click)="redirectToDelivery()" class = "btn btn-success"
         routerLink="/delivery"
         routerLinkActive="text-success"
         [routerLinkActiveOptions]='{exact: true}'
    >Order</a>
    </div>
  </div>
  </div>
</div>
