:host {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e4eae0;
  border-radius: 0 0 0 5%;
  .container {
    height: 90%;
  }
}

.top-purchases {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #1d2124;
  z-index: 5;
  .top-purchases-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-line {
    flex-grow: 1;
    width: 100%;
    height: 2px;
    background-color: #0c5460;
    border-radius: inherit;
  }
}
.wrap-purchases {
  overflow-y: scroll;
  height: 85%;
}
.main-purchases {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  //height: 85%;
  font-size: 35px;
  align-content: baseline;
  //align-items: center;
  .middle-purchases {
    display: flex;
    flex-direction: column;
    color: #1c7430;
    margin: 10px 0;
    height: 20%;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
    .title {
      width: 100%;
    }
    .base-style {
      color: #000;
    }
    .price, .quantity {
      margin: 0 5px;
    }
  }
  .bottom-purchases {
    position: fixed;
    width: 18%;
    right: 1%;
    bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    font-size: 35px;
    a {
      font-size: 35px;
    }
  }
}

img {
  width: 40px;
  height:40px;
}
