<div class="wrapper w-100 h-100 d-flex flex-column">
  <app-header></app-header>
  <main class = "main d-flex">
    <div class = "aside d-flex">
      <div id="slider">
        <div class="item item-1 active">Один</div>
        <div class="item item-2">Два</div>
        <div class="item item-3">Три</div>
        <div class="item item-4">Четыре</div>
        <div class="item item-5">Пять</div>
        <div class="item item-6">Шесть</div>
      </div>
    </div>
    <div class = "router-outlet d-flex">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="d-flex justify-content-center h-25 border-top align-content-between">
    <span>
    This's footer
    </span>
  </footer>
</div>
