:host {
  display: flex;
  height: 100%;
}
footer {

}
.aside {
  width: 13%;
  margin: 0 1% 1% 0;
  border-radius: 0 0 20px 0;
}
.main {
  margin: 5% 0 0 0;
  flex: 1;
  min-height: 100%;
  .router-outlet {
    width: 87%;
  }
}
footer {
  margin: 5px 0 0 0;
  background-color: #fff1e8;
}
header {
  margin: 0 0 5px 0;
  .nav-item {
    margin: 0 1em;
    background-color: #b7fffd;
    border-radius: 10%;
  }
}
.authorization li {
  font-size: 13px;
  color: #000;
}
#slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 90vh;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid red;
  margin: 0 auto;
  perspective: 3000px;


}

.item {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 90vh;
  height: 90vh;
  transform: rotateY(180deg);
  transition: all 0.6s;
  backface-visibility: hidden;
  &.item-1 {background: url('/../../assets/a.jpg') no-repeat center center;}
  &.item-2 {background: url('/../../assets/b.jpg') no-repeat center center;}
  &.item-3 {background: url('/../../assets/c.jpg') no-repeat center center;}
  &.item-4 {background: url('/../../assets/d.jpg') no-repeat center center;}
  &.item-5 {background: url('/../../assets/e.jpg') no-repeat center center;}
  &.item-6 {background: url('/../../assets/f.jpg') no-repeat center center;}
  .test {
    width: 500px;
    height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: 2px solid blue;
  }

  .rall {
    width: 100px;
    height: 100px;
    background-color: red;
  }

  #rich {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 90vh;
    height: 90vh;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid blue;
    margin: 0 auto;
    perspective: 3000px;
  }
}



