<div class = "select">
  <div (click)="onClickDropMenu()">{{ selectedKey.value }}</div>
  <div class = "drop-menu" *ngIf="dropMenuToggle">
    <div *ngFor="let option of selectArr; let i = index">
      <span (click) = "selectedOption(i)">{{ option.value }}</span>
    </div>
  </div>
</div>
