<div *ngIf="!!user">
  <h2>Cutaway</h2>
  <span>{{ user | cutaway:'name' }}, {{ user | cutaway:'email' }}</span>

  <div *ngFor="let item of userPosts">
    <b>Title: </b>
    <h2>
      {{ item.title }}
    </h2>
    <p>
      {{ item.body }}
    </p>
  </div>
</div>
