:host {
  background-color: #200507;
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 5px 0;
  border-bottom: 2px solid #c3eaea;
  position: relative;
  nav {
    padding: 0 0 5px 0;
  }
  .nav-item {
    margin: 0 1em;
    background-color: #b7fffd;
    border-radius: 5%;
  }
  .shopping-cart-site {
    span {
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 0;
      right: 15px;
      z-index: 2;
      color: #b7fffd;
      background-color: #0c5460;
      border-radius: 100%;
      font-size: 15px;
    }
    img {
      position: absolute;
      top: -1px;
      right: 14px;
      width: 40px;
      background-color: #a8b0ff;
    }
  }

}
