<header>
  <nav class="justify-content-center align-items-center">
    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/"
           routerLinkActive="text-success"
           [routerLinkActiveOptions]='{exact: true}'
        >Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/store"
           routerLinkActive="text-success"
           [routerLinkActiveOptions]='{exact: true}'
        >Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/contacts"
           routerLinkActive="text-success"
           [routerLinkActiveOptions]='{exact: true}'
        >Контакты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/about-us"
           routerLinkActive="text-success"
           [routerLinkActiveOptions]='{exact: true}'
        >О Нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           routerLink="/news"
           routerLinkActive="text-success"
           [routerLinkActiveOptions]='{exact: true}'
        >Новости</a>
      </li>
    </ul>
  </nav>
  <div class = "shopping-cart-site" (click)="toggleOpenTabShop($event)">
    <span class = "order-count" *ngIf="currentScore && toggleBasketView">{{ currentScore }}</span>
    <img id ="shopping-cart" src="./assets/shopping_cart.png" alt="shopping cart site" *ngIf="toggleBasketView">
  </div>
</header>
<app-selected-product *ngIf="onClickImageBool" (onclick) = "onClickImage($event)" (redirect)="getStatusToggleBasketView($event)" (currentScore) = "currentScore"></app-selected-product>
